#aboutMain{
     padding-top:30px;
  flex-grow: 1;
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100vw;
  height: 100vh;
 overflow: auto;
 flex-direction: column;
}

.inputText{
    font-weight: 800;
    font-size: 30px;
}