* {
margin: 0;
padding: 0;
text-decoration: none;
}
#parent{
  height: 110vh;
  width: 100vw;
  overflow: auto;
}
#homeMain {
  height:100vh;
  width: 100vw;
  padding-top:45px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJpWkbkfNCYypydVO8gA8fd_eIKwbdWpd5w&s");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 300px 300px;
}
#heading1 {
  height:10%;
  width:100%;
  
}
#choose {
  height: 70%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
}
#choose > a {
  color:white;
  background:#ff1c1c;
  border-radius: 10px;
  margin:10px 30px;
  text-align: center;
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  width: 220px;
}
#choose > span {
  text-align: center;
}
#heading1 > h1  {
  font-size:25px;
  text-align: center;
  font-weight: 900;
}
#heading1 > h1 > span {
  color:red;
}
img {
  width:55px;
}
/*#header {
  background:#5eeb67;
  height:50px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px #c9c9c9;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  padding-right: 20px;
  padding-left: 20px;
}*/
#choose > a:hover {
  background: lightgreen;
}
/*#header > a {
  font-weight: 500;
  margin-right: 10px;
  display:inline-block;
  padding: 4px 10px;
  border-radius:10px;
}
#header > a + a {
  margin-left:5px;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: #305CDE;
}
.logo > span {
  color: #FF746C;
}*/

@media screen and (min-width:900px) {
  #heading1 > h1{
font-size: 40px;
  }
  #choose > a{
    padding: 18px 33px;
    font-size: 17px;
    margin-top: 18px;
  }
  #choose > span {
   font-size: 20px;
}
}

@media screen and (min-width:1000px) {
  #heading1 > h1{
font-size: 50px;
  }
  #choose > a{
    padding: 20px 35px;
    font-size: 18px;
    margin-top: 20px;
  }
   #choose > span {
   font-size: 22px;
}


}

@media screen and (min-width:1300px) {
  #homeMain{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdJpWkbkfNCYypydVO8gA8fd_eIKwbdWpd5w&s'), url('../public/Gemini_Generated_Image_5hdhgi5hdhgi5hdh\ \(1\).png');
  background-position: bottom center, 50% 30%;
  background-size: 300px 300px, 70% auto;
}
}

@media screen and (min-width:1325px) {
  #homeMain{
    background-position: bottom center, 50% 28%;
  }
}

@media screen and (min-width:1415px) {
  #homeMain{
    background-position: bottom center, 50% 26%;
  }
}

@media screen and (min-width:1500px) {
  #homeMain{
    background-position: bottom center, 50% 24%;
  }
}

@media screen and (min-width:1560px) {
  #homeMain{
    background-position: bottom center, 50% 22%;
  }
}

@media screen and (min-width:1620px) {
  #homeMain{
    background-position: bottom center, 50% 20%;
  }
}

@media screen and (min-width:1675px) {
  #homeMain{
    background-position: bottom center, 50% 18%;
  }
}

@media screen and (min-width:1725px) {
  #homeMain{
    background-position: bottom center, 50% 16%;
  }
}

@media screen and (min-width:1760px) {
  #homeMain{
    background-position: bottom center, 50% 14%;
  }
}

@media screen and (min-width:1814px) {
  #homeMain{
    background-position: bottom center, 50% 10%;
  }
}
